<% provide(:title, @event.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @event.name %>
			</h1>
		</section>
		<section>
			<p>Date: <%= @event.date %></p>
			<p>Location: <%= @event.location %></p>
			<% if current_user.admin? || current_user?(User.find_by(id: @event.user_id)) %>
			<p><%= link_to "Edit event", edit_event_path(@event.id) %></p>
			<p><%= link_to "Delete event", @event, method: :delete,
	                                  data: { confirm: "You sure?" } %></p>
			<% end %>
		</section>
	</aside>
	<div class="span8">
		<%= @event.content %>
		<h3><%= @title %></h3>
	    <% if @users.any? %>
	      <ul class="users">
	        <% @users.each do |user| %>
	            <%= user.name %>
	        <% end %>
	      </ul>
	    <% end %>
	</div>
</div>